services:
  users:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - JDBC_CONNECTION_STRING=jdbc:h2:mem
      - DATABASE_NAME=test
      - DATABASE_USERNAME=sa
      - DATABASE_PASSWORD=
      - DATABASE_DRIVER=org.h2.Driver
